body {
  background: #0b0b0b;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #ffcc00;
}

.sub {
  color: #ccc;
  margin-bottom: 20px;
}

.buttons button {
  background: #ffcc00;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.card {
  background: #1a1a1a;
  padding: 15px;
  margin: 15px auto;
  border-radius: 10px;
  max-width: 350px;
}

.card h2 {
  color: #00ffcc;
}

.copy {
  background: #00ffcc;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}